@import '../style/var';

@title-font-weight: var(--font-bold);
@title-optional-color: var(--tooltip-font-color);
@title-required-color: var(--tm-red);
@title-optional-margin-left: 10px;
@title-tips-color: var(--tooltip-font-color);
@title-tips-danger-color: var(--tm-red);
@title-tips-margin-left: 10px;
@title-has-bgc-padding: 12px 16px;