@import '../style/var';

@message-success-color: var(--color-success);
@message-success-bgc: #F0F9EB;
@message-warning-color: var(--tm-auxiliary-7);
@message-warning-bgc: #FFF6E3;
@message-error-color: var(--color-danger);
@message-error-bgc: #FEF1F0;
@message-info-color: var(--main-color);
@message-info-bgc: #EDF2FD;
