@font-face {
  font-family: "iconfont"; /* Project id 3208910 */
  src: url('iconfont.woff2?t=1646376631231') format('woff2'),
       url('iconfont.woff?t=1646376631231') format('woff'),
       url('iconfont.ttf?t=1646376631231') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-txt:before {
  content: "\e609";
}

.icon-mp4:before {
  content: "\e60a";
}

.icon-mp3:before {
  content: "\e60b";
}

.icon-xsl:before {
  content: "\e60c";
}

.icon-pdf:before {
  content: "\e60d";
}

.icon-zip:before {
  content: "\e60e";
}

.icon-png:before {
  content: "\e60f";
}

.icon-rar:before {
  content: "\e612";
}

.icon-ppt:before {
  content: "\e617";
}

.icon-jpg:before {
  content: "\e618";
}

.icon-html:before {
  content: "\e619";
}

.icon-gif:before {
  content: "\e61a";
}

.icon-doc:before {
  content: "\e603";
}

.icon-doctype1:before {
  content: "\e623";
}

.icon-wenhao11:before {
  content: "\e691";
}

.icon-shangjiantou:before {
  content: "\e6e9";
}

.icon-xiajiantou:before {
  content: "\e6ea";
}

.icon-jiazaishibai:before {
  content: "\e794";
}

.icon-qiye:before {
  content: "\e6d5";
}

.icon-qunyunying1:before {
  content: "\e6b2";
}

.icon-wenjianjia:before {
  content: "\e663";
}

.icon-icon_attachment:before {
  content: "\e6e7";
}

.icon-bofang2:before {
  content: "\e6b5";
}

.icon-touxiang:before {
  content: "\e9fd";
}

.icon-duihao:before {
  content: "\e605";
}

.icon-wenhao:before {
  content: "\e68d";
}

.icon-biaoqian:before {
  content: "\e6b7";
}

.icon-zu:before {
  content: "\e6c6";
}

.icon-gengduo2:before {
  content: "\e764";
}

.icon-yulan:before {
  content: "\e61b";
}

.icon-weiyi:before {
  content: "\e61f";
}

.icon-lajitong0:before {
  content: "\e62c";
}

.icon-zhaopian:before {
  content: "\e62d";
}

.icon-tabAdd:before {
  content: "\e6c1";
}

.icon-sousuo:before {
  content: "\e6a5";
}

.icon-zu-copy:before {
  content: "\edb5";
}

.icon-youjiantou:before {
  content: "\e6ef";
}

.icon-zuojiantou:before {
  content: "\e6f0";
}

.icon-liulan:before {
  content: "\e758";
}

.icon-qingchu:before {
  content: "\e75f";
}

.icon-qun:before {
  content: "\e79a";
}

.icon-biaoqian1:before {
  content: "\e7b0";
}

.icon-jiahao2:before {
  content: "\e7c0";
}

.icon-jianhao:before {
  content: "\e7c1";
}

