@import '../style/var';

@tabs-font-size: @font-size-sm;
@tabs-active-font-size: @font-size-md;
@tabs-color: var(--tm-black);
@tabs-active-color: var(--main-color);
@tabs-button-active-color: var(--tm-white);
@tabs-button-border-radius: @border-radius-md;
@tabs-shadow-color: @shadow-color-primary;