@import '../style/var';
@import './var';
  
:root {
  --tm-upload-width: @width-size-img;
  --tm-upload-border-dashed: @image-upload-border-dashed;
  --tm-upload-border: @image-upload-border;
  --tm-border-radius: @image-boder-radius;
  --tm-upload-p: @upload-box-p;
  --tm-uplaod-font: @font-size-sm;
}

.tm-upload {
  display: flex;
  align-items: center;

  .image-single {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-uplaod {
      width: var(--tm-upload-width);
      height: var(--tm-upload-width);
      background: #FCFCFC;
      border-radius: var(--tm-border-radius);
      color: var(--tm-upload-p);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }

      &_title {
        position: absolute
      }
    }
    p {
      color: var(--tm-upload-p);
      font-size: var(--tm-uplaod-font);
    }
  }

  .image-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    &-left {
      display: flex;
      flex-wrap: wrap;
      .image__item  {
        width: var(--tm-upload-width);
        height: var(--tm-upload-width);
        border-radius: var(--tm-border-radius);
        border: var(--tm-upload-border);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 6px;
        margin-bottom: 6px;
        overflow: hidden;
        position: relative;
        &-img {
          width: 100%;
          height: 100%;
          border-radius: 0;
          object-fit: cover;
        }
        &-icon {
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: space-around;
          font-size: 20px;
          i {
            color: #fff;
            cursor: pointer;
          }
        }
        &:hover::before {
          content: '';
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, .5);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .image-single-empty {
    border: var(--tm-upload-border-dashed);
  }

  .image-single-solid {
    border: var(--tm-upload-border);
    
  }

  .image-hover {
    position: relative;
    &:hover::before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .local-upload-drag-component {
    .drag-content {
      width: 350px;
      min-height: 148px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
      border-radius: var(@padding-xs);
      background-color: #F8F9FB;
      padding: 0 14px 29px 19px;
  
      > i {
        font-size: 40px;
        color: #C9C9C9;
        margin-bottom: 20px;
        margin-top: 56px;
      }
  
      .drag-text {
        font-size: var(--tm-uplaod-font);
        color: #000000;
  
        .download-btn {
          color: #3470ff;
          cursor: pointer;
        }
        .drag-icon {
          text-align: center;
          margin-bottom: 5px;
          i {
            font-size: 36px;
            color: #C9C9C9;
          }
        }
      }
    }
  
    .drag-actived {
      box-shadow: 0 8px 10px -5px rgba(52, 112, 255, 0.2), 0 6px 12px 2px rgba(52, 112, 255, 0.14), 0 6px 18px 5px rgba(52, 112, 255, 0.12);
    }
  
    .file-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 25px 0 20px 0;
  
      .file-item {
        display: flex;
        align-items: center;
        height: 71px;
        margin-top: 10px;
        background: #fff;
        border-radius: var(@padding-xs);
        padding-left: 20px;
        cursor: pointer;
        position: relative;
  
        > i {
          font-size: 16px;
          color: #00da9b;
        }
  
        .file-name {
          color: #000000;
          font-size: var(--tm-uplaod-font);
          margin-left: var(@font-size-xs);
        }

        .close-file {
          color: #ccc;
          font-size: var(@font-size-xs);
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .file-item+.file-item{
        margin-top: 10px;
      }
    }
  }

  .drag-upload {
    .el-upload {
      width: 100%;
    }
    .el-upload-dragger {
      width: 100%;
      min-height: 140px;
      height: 100%;
      padding: 20px 1em;
    }
    .el-progress{
      display: none;
    }
    .progress.el-progress{
      display: inline-block;
    }
  }
}

.upload-preview-dialog {
  width: 550px !important;
 .img-container {
    width: 500px;
    max-height: 500px;
    padding: 16px;
    overflow: auto;
    img{
      width:100%;
    }
  }
  ::-webkit-scrollbar{
    width: 0;
  }
}

.list-enter-active, .list-leave-active {
  transition: all .6s;
}
.list-enter, .list-leave-to
/* .list-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-30px);
}
  