@import '../style/var';

@upload-width: 103px;
@upload-border-dashed: 1px dashed #858598;
@upload-image-border: 1px solid var(--tm-gray-6);
@upload-image-radius: 5px;
@upload-text-color: var(--tm-gray-3);
@upload-drag-radius: 8px;
@upload-download-color: var(--main-color);
@upload-close-font-size: var(--font-size-tooltip);
@upload-font-size: var(--font-size-tooltip);