@import '../style/var';
@import './var';
  
:root {
  --tm-block-mark-color: @block-mark-color;
}

.tm-block {
  padding: 15px 0;
  background-color: #fff;
  border-radius: 5px;

  &__title {
    display: flex;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    &::before {
      content: '';
      margin-top: 3px;
      width: 3px;
      height: 14px;
      margin-right: 12px;
      border-radius: 2px;
      background-color: var(--tm-block-mark-color);
    }
  }

  &__content {
    padding: 18px 15px 0;
  }
}

.tm-block + .tm-block {
  margin-top: 8px;
}